.ui-input-text, .ui-input-text.ui-focus {
  background: none;
  border: none;
  box-shadow: none;
}




a.delete-btn.ui-link, a.delete-btn {
  text-decoration: none;
  color: #cc0000;
}
a.delete-btn.ui-link:hover, a.delete-btn:hover {
  color: #ff0000;
}

#templates {
  display: none;
}