/* SwipeJS */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}

#welcome {
  background: #BADDEA;
  color: #111;
}

#close-welcome-btn {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  text-shadow: none;
  color: #fff;
  cursor: pointer;
  background: #C97A53;
  font-size: 1.5em;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue ", Helvetica, sans-serif;
  font-weight: lighter;
  border: none;
  padding: 20px 0;
  box-shadow: 0 5px 0 0 rgba(108,65,44,0.6);
}
#close-welcome-btn:active {
  margin-top: 3px;
  box-shadow: 0 2px 0 0 rgba(108,65,44,0.6);
}

/* Styling */

#timer {
  text-align: center;
  font-size: 4em;
  text-shadow: #fff 0 1px 0, #000 0 -2px 0;
}

/* override */
.ui-btn-corner-all {
  border-radius: 5px;
}

.ui-link:active {
  color: none;
}

/* More animations */
@-webkit-keyframes movetoback {
    from {-webkit-transform: scale3d(1.0, 1.0, 1.0); -webkit-filter: blur(0);}
    to { -webkit-transform: scale3d(0.9, 0.9, 1.0); -webkit-filter: blur(15px);}
}
@-moz-keyframes movetoback {
    from {-moz-transform: scale(1.0); }
    to { -moz-transform: scale(0.9); }
}
@keyframes movetoback {
    from {transform: scale(1.0); }
    to { transform: scale(0.9); }
}
@-webkit-keyframes movetofront {
    from { -webkit-transform: scale3d(0.9, 0.9, 1.0); -webkit-filter: blur(15px);}
    to { -webkit-transform: scale3d(1.0, 1.0, 1.0); -webkit-filter: blur(0);}
}
@-moz-keyframes movetofront {
    from { -moz-transform: scale(0.9); }
    to { -moz-transform: scale(1.0); }
}
@keyframes movetofront {
    from { transform: scale(0.9); }
    to { transform: scale(1.0); }
}

@-webkit-keyframes stay {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-moz-keyframes stay {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(0); }
}
@keyframes stay {
    from { transform: translateX(0); }
    to { transform: translateX(0); }
}

/* Custom Slide transition */
.customslide.out, .customslide.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 250ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-duration: 250ms;
}
.customslide.out {
  -webkit-animation-name: movetoback;
  -moz-animation-name: movetoback;
  animation-name: movetoback;

}
.customslide.in {
  -webkit-transform: translate3d(0,0,0);
  -webkit-animation-name: slideinfromright;
  -moz-transform: translateX(0);
  -moz-animation-name: slideinfromright;
  transform: translateX(0);
  animation-name: slideinfromright;
}
.customslide.out.reverse {
  -webkit-transform: translate3d(100%,0,0);
  -webkit-animation-name: slideouttoright;
  -moz-transform: translateX(100%);
  -moz-animation-name: slideouttoright;
  transform: translateX(100%);
  animation-name: slideouttoright;
}
.customslide.in.reverse {
  -webkit-animation-name: movetofront;
  -moz-animation-name: movetofront;
  animation-name: movetofront;


}

/* Override the slide transition */
.slide.out, .slide.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 250ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-duration: 250ms;
}